select dt, i_tarif, i_power, i_sync, f_tout, f_tin, boiler_status, rain_mm_curr from tpower where dt>='{{ date_from }}' and dt<'{{ date_to }}'
select dt, f_energy_lt, f_energy_ht, f_tin_avg, f_tout_avg, boiler_time_on from tenergy where dt>='{{ date_from }}' and dt<'{{ date_to }}'
select dt, i_ok_count, i_ko_io_count, i_ko_val_count, i_ko_typ_count from tcommstat where dt>='{{ date_from }}' and dt<'{{ date_to }}'
select dt, rain_24h_mm FROM trainforecast WHERE  dt>='{{ date_from }}' and dt<'{{ date_to }}'
select dt, i_level, i_pump, i_mode, i_manctrl, i_status from ttankhistory where dt>='{{ date_from }}' and dt<'{{ date_to }}'
select dt, temp_garage, temp_cellar, temp_heat01, temp_heat02 from ttemperature where dt>='{{ date_from }}' and dt<'{{ date_to }}'
select dt, rain_mm_lst from traingauge where dt>='{{ date_from }}' and dt<'{{ date_to }}'
