PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
IPADDR={{ set_net_static_ip }}
PREFIX=25
GATEWAY={{ set_net_static_gw }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=static
DEVICE=eth0
ONBOOT=yes
DNS1={{ set_net_static_gw }}
ZONE=public
